.bg-roxo {
    background-color: rgb(19, 40, 78);
}

.ft-cinza {
    color: rgb(217, 217, 217);
}

.ft-cinza:hover {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.user {
    border-style: solid;
    border-width: 5px;
    border-radius: 50%;
    border-color: rgb(217, 217, 217);
    height: 40px;
    width: 40px;
    overflow: hidden;
    padding: 0%;
}

.user-img {
    width: auto;
    max-height: 100%;
}


/* .girar:hover{
-webkit-animation: spin 4s infinite linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
} */

.p-22 {
    padding: 0%;
    height: 45px !important;
    line-height: 50% !important;
}

body {
    line-height: 50% !important;
}

li {
    line-height: 50% !important;
}

#prin {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
}

.card-header-icp {
    line-height: 130% !important;
}

.waitasec {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(19, 40, 78, 0.9);
    cursor: wait;
}

.more-details {
    display: none;
}

.cliente {
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    line-height: 120%;
    position: relative;
}

.clienteT {
    border: 1px solid rgba(0, 0, 0, .125);
    background-color: rgba(19, 40, 78, .255);
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    line-height: 120%;
}

.dado {
    line-height: 250% !important;
}

.clienteativo {
    background-color: rgba(121, 180, 66, .255)
}

.clienteinativo {
    background-color: rgba(197, 27, 27, 0.255)
}

.clienteativo:hover {
    background-color: rgba(121, 180, 66, .4)
}

.clienteinativo:hover {
    background-color: rgba(197, 27, 27, 0.4)
}

.mini-card {
    border: 1px solid rgba(0, 0, 0, .125);
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    line-height: 120% !important;
}

.titulo {
    cursor: pointer;
}