<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-12">
            <p>Comercial > Clientes</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 d-lg-block">
            <div class="card">
                <div class="card-header card-header-icp">
                    Clientes Recentes
                </div>
                <div class="card-body card-header-icp">
                    Lista com clientes recentes
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-12">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Clientes</h4>
                            <small class="text-info">Esta é uma aba reservada para visualização e criação de
                                clientes.</small>
                        </div>
                        <div class="card-body">
                            <div class="btn btn-success" id="newClient">Novo Cliente</div>
                            <div class="btn btn-success" id="oldClient">Clientes</div>
                            <div class="btn btn-success" id="summary">Resumo</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            Resumo esta semana
                        </div>
                        <div class="card-body">
                            <i class="fas fa-cogs"></i> Em Construção
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            Resumo Semana anterior
                        </div>
                        <div class="card-body">
                            <i class="fas fa-cogs"></i> Em Construção
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>